((((( OPS )))))
{% for op in command._ops %}
*{{ op.title }}*
*FC*: _{{ op.opFc }}_
{% if op.shipDoctrines != "" %}*DOCTRINE*: _{{ op.shipDoctrines }}_
{%endif %}*WHEN*: _in {{ op.opFormattedDate }}_
{{ op.description }}
{% endfor %}
